_target_: forward.model.model.CRTMModel

# Optimizer function and parameters
optimizer:
  _target_: torch.optim.Adam
  _partial_: true
  lr: 0.0005  # learning_rate_0 de Keras
  weight_decay: 0.0

# Learning rate scheduler
lr_scheduler:
  _target_: torch.optim.lr_scheduler.ReduceLROnPlateau
  _partial_: true
  mode: min
  factor: 0.2  # factor_lr_reduce
  patience: 3  # patience_lr
  min_lr: 1.0e-6  # learning_rate_min
  threshold: 0.01  # mindelta_lr_reduce

# Loss term(s)
loss_func:
  _target_: forward.model.loss.crps_cost_function  # Load loss function
  _partial_: true  # Partial instantiation for callable

# Parameters
parameters:
  data:
    prof_max:
      _target_: numpy.loadtxt
      _args_:
        - forward/data/normalization/prof_div.txt
    prof_min:
      _target_: numpy.loadtxt
      _args_:
        - forward/data/normalization/prof_m.txt
    use_meta_vars: [1, 2, 3, 4, 5, 6, 7]
    use_prof_vars: [1, 2, 3, 4, 5, 6, 7, 8, 9]
    use_surf_vars: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16]
    bt_norm_max: 355
    bt_norm_min: 180
    nlevels: 127
    prof_vars: ['Air temperature', 'Water vapor mixing ratio', 'Cloud ice mass', 'Cloud water mass', 'Snow mass',
                'Ice particle effective radius', 'Water particle effective radius',
                'Snow particle effective radius', 'Ozone mixing ratio']
    surf_vars: ['Ice area fraction', 'Land area fraction', 'Land type', 'Leaf area index', 'Soil temperature',
                'Snow area fraction', 'Snow thickness', 'Soil temperature',
                'Surface temperature (ice, land, sea, snow)', 'Wind direction', 'Wind speed',
                'Vegetation area fraction', 'Water area fraction', 'Volumetric water ratio (soil)']
    meta_vars: ['Sensor scan angle', 'Sensor zenith angle', 'Sensor view angle', 'Sensor azimuth angle',
                'Sensor elevation angle', 'Solar azimuth angle', 'Solar zenith angle']
  architecture:
    dropout_rate: 0
    nhidden_bt: 3
    nnodes_bt: 512
    std_output_activation_offset: 0.001
    std_scale_trainable: true
