_target_: inverse.model.model.PINNverseOperator

# Optimizer function and parameters
optimizer:
  _target_: torch.optim.Adam
  _partial_: true
  lr: 0.0001
 # weight_decay: 0

# Learning rate scheduler
lr_scheduler:
  _target_: torch.optim.lr_scheduler.ReduceLROnPlateau
  _partial_: true
  mode: min
  factor: 0.2  # factor_lr_reduce
  patience: 3  # patience_lr
  min_lr: 1.0e-6  # learning_rate_min
  threshold: 0.01  # mindelta_lr_reduce

# Model parameters
parameters:
  data:
    prof_max:
      _target_: numpy.loadtxt
      _args_:
        - forward/data/normalization/prof_div.txt
    prof_min:
      _target_: numpy.loadtxt
      _args_:
        - forward/data/normalization/prof_m.txt
    surf_max:
      _target_: numpy.loadtxt
      _args_:
        - forward/data/normalization/surfmax.txt
    surf_min:
      _target_: numpy.loadtxt
      _args_:
        - forward/data/normalization/surfmin.txt
    statistics: ${data.preparation.statistics.output}  # Path to statistics file
    meta_norm:
      meta_cos_vars: [6]
      meta_scale_factor: 180
      meta_scale_offset: -180
      meta_scale_vars: []
      meta_sin_vars: [0, 1, 2, 3, 4, 5]
    # Number of variables
    n_lat: 1
    n_lon: 1
    n_scans: 1
    n_meta: 7
    n_surf: 16
    n_profiles: 9
    n_levels: 1
    n_pressure: 1
    n_clrsky: 0
    prof_vars: ['Air temperature', 'Water vapor mixing ratio', 'Cloud ice mass', 'Cloud water mass', 'Snow mass',
                'Ice particle effective radius', 'Water particle effective radius',
                'Snow particle effective radius', 'Ozone mixing ratio']
    surf_vars: ['Ice area fraction', 'Land area fraction', 'Land type', 'Leaf area index', 'Soil temperature',
                'Snow area fraction', 'Snow thickness', 'Soil temperature',
                'Surface temperature (ice, land, sea, snow)', 'Wind direction', 'Wind speed',
                 'Vegetation area fraction', 'Water area fraction', 'Volumetric water ratio (soil)']
    meta_vars: ['Sensor scan angle', 'Sensor zenith angle', 'Sensor view angle', 'Sensor azimuth angle',
                'Sensor elevation angle', 'Solar azimuth angle', 'Solar zenith angle']
  architecture:
    n_neurons: 128  # Number of neurons in the hidden layers
    n_layers: 4  # Number of hidden layers
    dropout: 0.1  # Dropout rate

# Loss term(s)
loss_func:
  _target_: inverse.model.loss.ForwardKLDivergence  # Load loss function
  _partial_: false  # Partial instantiation for callable

# Positional encoding
positional_encoding:
  _target_: inverse.model.encoding.GaussianPositionalEncoding
  _partial_: true

# Activation functions (input layer/within the network)
activation_in:
  _target_: forward.model.activation.Sine
  _partial_: true

# Activation function (output layer)
activation_out:
  _target_: torch.nn.Sigmoid
  _partial_: true

# Transformations (output layer)
transform:
  _target_: inverse.data.transformations.min_max
  _partial_: true
  stats:
    _target_: inverse.data.statistics.read_statistics_var
    _args_:
      - ${model.parameters.data.statistics.path}
      - 'prof'
  inverse_transform: false

# Transformations (loss function)
inverse_transform:
  _target_: inverse.data.transformations.min_max
  _partial_: true
  stats:
    _target_: inverse.data.statistics.read_statistics_var
    _args_:
      - ${model.parameters.data.statistics.path}
      - 'prof'
  inverse_transform: true

# Plot logger
log_valid: true