# Data loader configuration for forward model training
_target_: forward.model.data_loader.Dataloader
batch_size: 32  # Batch size for training
# num_workers: 0  # Number of workers for data loading
# persistent_workers: false  # Keep workers alive between epochs

# Split the data into training, validation, and test sets
stage:
  # Training set
  train:
    # Dataset class
    _target_: forward.model.data_loader.CRTMDataset
    _recursive_: false
    # Variables to use as input
    input:
      prof: ${data.vars.train.prof}
      surf: ${data.vars.train.surf}
      meta: ${data.vars.train.meta}
    # Variables to use as targets
    target:
      hofx: ${data.vars.train.hofx}
      cloud_filter: ${data.vars.train.cloud_filter}

  # Validation set
  valid:
    # Dataset class
    _target_: forward.model.data_loader.CRTMDataset
    _recursive_: false
    # Variables to use as input
    input:
      prof: ${data.vars.valid.prof}
      surf: ${data.vars.valid.surf}
      meta: ${data.vars.valid.meta}
    # Variables to use as targets
    target:
      hofx: ${data.vars.valid.hofx}
      cloud_filter: ${data.vars.valid.cloud_filter}
  # Test set
  test:
    # Dataset class
    _target_: forward.model.data_loader.CRTMDataset
    _recursive_: false
    # Variables to use as input
    input:
      prof: ${data.vars.test.prof}
      surf: ${data.vars.test.surf}
      meta: ${data.vars.test.meta}
    # Variables to use as targets
    target:
      hofx: ${data.vars.test.hofx}
      cloud_filter: ${data.vars.test.cloud_filter}
    # Results
    results:
      # Forward model simulations
      hofx:
        # Save function
        save:
          _target_: numpy.save
          _partial_: true
          _args_:
            - ${loader.stage.test.results.hofx.load.path}
        # Load function
        load:
          _target_: forward.model.data_loader.load_npy
          path: ${paths.run_dir}/test_hofx.npy